<html>
 <head> 
 </head>
 <body>
  <block name="title">
   <title>后台-添加商品图片</title>
  </block>   
  <extend name="Public:base" /> 
  <block name="user_show"> 

   <div class="clearfix" style="margin-left:10px;"> 
    <div class="btn-group"> 
     <button id="editable-sample_new" class="btn btn-primary"> 后台 &gt; 添加{$good_info['good_name']}图片 </button> 
    </div>  
   </div> 

  <div class="panel-body"> 
   <div class="form"> 
    <form class="cmxform form-horizontal adminex-form" id="signupForm" method="post" enctype="multipart/form-data" action="{:U('Store/doaddpic')}" novalidate="novalidate"> 


     <div class="form-group "> 
      <label for="state" class="control-label col-lg-2">商品图片</label> 
      <div class="col-lg-10"> 
       <input id="file_pic" name="file_pic[]" type="file" multiple="multiple" /> 
       <input id="good_attr_id" name="good_attr_id" type="hidden" value="{$good_attr_info['id']}" /> 
       <input id="good_id" name="good_id" type="hidden" value="{$good_info['id']}" /> 
      </div> 
     </div>


     <div class="form-group"> 
      <div class="col-lg-offset-2 col-lg-10"> 
        <input class="btn btn-primary" type="submit" value="添加">
        <input class="btn btn-primary" type="reset" value="重置">
      </div> 
     </div> 


    </form> 
   </div> 
  </div>


  </block>  &gt;
 </body>
</html>