<html>
 <head> 
 </head>
 <body>
  <block name="title">
   <title>后台-商铺活动 详细信息</title>
  </block>   
  <extend name="Public:base" /> 
  <block name="user_show"> 
   <div class="panel-body"> 
    <div class="adv-table editable-table "> 

     <div class="clearfix"> 

      <div class="btn-group"> 
       <button id="editable-sample_new" class="btn btn-primary"> 后台 &gt; 商铺活动  &gt; {$good_name}详细信息 </button> 
      </div> 
<!-- 
      <div class="btn-group pull-right"> 
       <a href="__MODULE__/Store/addattr/good_name/{$good_name}/id/{$id}"><button id="editable-sample_new" class="btn btn-primary"><i class="fa fa-plus"></i>添加属性 </button></a> 
      </div> 

      <div class="btn-group pull-right"> 
       <a href="__MODULE__/Store/good"><button id="editable-sample_new" class="btn btn-primary"><i class="fa fa-reply"></i> fa-reply</button></a> 
      </div>
 -->
     </div> 
     
     <div class="space15"></div> 
     <div id="editable-sample_wrapper" class="dataTables_wrapper form-inline" role="grid">
     
      <table class="table table-striped table-hover table-bordered dataTable" id="editable-sample" aria-describedby="editable-sample_info" style="margin-top:2%;"> 
       <thead>
        <tr role="row">
         <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" style="width: 5%;" aria-label="First Name">商品颜色</th>
         <th class="sorting" role="columnheader" tabindex="0" aria-controls="editable-sample" rowspan="1" colspan="1" style="width: 5%;" aria-label="Points: activate to sort column ascending">商品大小</th>
         <th class="sorting" role="columnheader" tabindex="0" aria-controls="editable-sample" rowspan="1" colspan="1" style="width: 5%;" aria-label="Points: activate to sort column ascending">商品描述</th>
         <th class="sorting" role="columnheader" tabindex="0" aria-controls="editable-sample" rowspan="1" colspan="1" style="width: 5%;" aria-label="Points: activate to sort column ascending">商品价格</th>
         <th class="sorting" role="columnheader" tabindex="0" aria-controls="editable-sample" rowspan="1" colspan="1" style="width: 5%;" aria-label="Points: activate to sort column ascending">商品折扣价</th>
         <th class="sorting" role="columnheader" tabindex="0" aria-controls="editable-sample" rowspan="1" colspan="1" style="width: 5%;" aria-label="Points: activate to sort column ascending">商品库存量</th>
         <th class="sorting" role="columnheader" tabindex="0" aria-controls="editable-sample" rowspan="1" colspan="1" style="width: 5%;" aria-label="Points: activate to sort column ascending">商品状态</th>
        </tr> 
       </thead> 
       <tbody role="alert" aria-live="polite" aria-relevant="all"> 
       <foreach name="info" item="val" > 
        <tr class="odd"> 
         <td class="  sorting_1">{$val.good_attr_color}</td> 
         <td class=" ">{$val.good_attr_size}</td> 
         <td class=" ">{$val.good_attr_des}</td> 
         <td class=" ">{$val.good_attr_price}</td> 
         <td class=" ">{$val.good_attr_price1}</td> 
         <td class=" ">{$val.good_attr_num}</td> 
         <td class=" ">
          <if condition="$val.good_attr_state eq 3"><span style="color:blue">正常</span></if>
          <if condition="$val.good_attr_state eq 1"><span style="color:red">下架</span></if>
          <if condition="$val.good_attr_state eq 2"><span style="color:green">新品上市</span></if>
         </td> 
        </tr> 
        </foreach>

       </tbody>
      </table>
     </div> 
    </div> 
   </div> 
  </block>  &gt;
 </body>
</html>