<html>
 <head> 
 </head>
 <body>
  <block name="title">
   <title>后台-商铺活动</title>
  </block>   
  <extend name="Public:base" /> 
  <block name="user_show"> 
   <div class="panel-body"> 
    <div class="adv-table editable-table "> 

     <div class="clearfix"> 
      <div class="btn-group"> 
       <button id="editable-sample_new" class="btn btn-primary"> 后台 &gt; 商铺活动 </button> 
      </div> 
<!--       <div class="btn-group pull-right"> 
       <a href="{:U('Activity/add')}"><button id="editable-sample_new" class="btn btn-primary"> Add New <i class="fa fa-plus"></i> </button></a> 
       <ul class="dropdown-menu pull-right"> 
        <li><a href="#">Print</a></li> 
        <li><a href="#">Save as PDF</a></li> 
        <li><a href="#">Export to Excel</a></li> 
       </ul> 
      </div>  -->
     </div> 
     
     <div class="space15"></div> 
     <div id="editable-sample_wrapper" class="dataTables_wrapper form-inline" role="grid">
        
     <div class="panel-body">
        <form class="form-inline" role="form" action="{:U('Activity/index')}" method="get" />
            
            <div class="form-group">
                <input class="form-control" id="exampleInputEmail2" value="{$Think.get.good_name}" name="good_name" placeholder="搜索商品名称" type="text">
            </div>

            <button type="submit" class="btn btn-primary">搜索</button>
        </form>
    </div>
     
      <table class="table table-striped table-hover table-bordered dataTable" id="editable-sample" aria-describedby="editable-sample_info"> 
       <thead>
        <tr role="row">
         <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" style="width: 5%;" aria-label="First Name">商店名</th>
         <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" style="width: 5%;" aria-label="First Name">商品ID</th>
         <th class="sorting" role="columnheader" tabindex="0" aria-controls="editable-sample" rowspan="1" colspan="1" style="width: 5%;" aria-label="Points: activate to sort column ascending">商品名</th>
         <th class="sorting" role="columnheader" tabindex="0" aria-controls="editable-sample" rowspan="1" colspan="1" style="width: 5%;" aria-label="Points: activate to sort column ascending">折扣</th>
         <!-- <th class="sorting" role="columnheader" tabindex="0" aria-controls="editable-sample" rowspan="1" colspan="1" style="width: 5%;" aria-label="Points: activate to sort column ascending">商品状态</th> -->
         <th class="sorting" role="columnheader" tabindex="0" aria-controls="editable-sample" rowspan="1" colspan="1" style="width: 5%;" aria-label="Edit: activate to sort column ascending">操作</th>
        </tr> 
       </thead> 
       <tbody role="alert" aria-live="polite" aria-relevant="all"> 
       <foreach name="info" item="val">
        <tr class="odd"> 
         <td class="  sorting_1">{$val.user_store_name}</td> 
         <td class="  sorting_1">{$val.id}</td> 
         <td class="  sorting_1">{$val.good_name}</td> 
         <td class=" ">{$val.good_attr_discount}</td> 
<!--          <td class=" ">
          <if condition="$val.good_state eq 3"><span style="color:blue">在售</span></if>
          <if condition="$val.good_state eq 1"><span style="color:red">下架</span></if>
          <if condition="$val.good_state eq 2"><span style="color:green">新品上市</span></if>
         </td>  -->
         <td class=" ">
            <a href="__MODULE__/Activity/detail/id/{$val.id}">详细信息</a>
         </td> 
        </tr> 
        </foreach>
        
          <tr class="content">
            <td colspan="3" bgcolor="#FFFFFF"><div class="pages">
              {$Page}
            </div></td>  
          </tr>

       </tbody>
      </table>
     </div> 
    </div> 
   </div> 
  </block>  &gt;
 </body>
</html>